# 忽略所有 .log 文件
*.log

# 忽略所有以 .bin 结尾的文件
*.bin

# 忽略所有zip文件
*.zip

# 忽略所以 json 文件
*.json

# 忽略 logs 目录下的所有文件和文件夹
logs/

# 忽略 Bot 目录下的所有文件和文件夹
Bot/

# 忽略 node_modules 目录下的所有文件和文件夹
node_modules/

# 忽略 img 目录下的所有文件和文件夹
img/

# .idea 目录下的所有文件和文件夹
.idea/
